NUXT_PUBLIC_BASE="https://jobeek.api/"
NUXT_PUBLIC_API_BASE="https://jobeek.api/api/"
#NUXT_PUBLIC_BASE="https://api.jobeek.online/"
#NUXT_PUBLIC_API_BASE="https://api.jobeek.online/api/"
NUXT_PUBLIC_SENTRY_DSN=''
NUXT_PUBLIC_SENTRY_ENVIRONMENT='development'
# DEVTOOLS_ENABLED= - false | DEVTOOLS_ENABLED=1 - true
DEVTOOLS_ENABLED=