.advice-page {
    padding-top: 15px;
    padding-bottom: 120px;
}

.tabs-row {
    display: flex;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 48px;

    ul  {
        display: flex;
        justify-content: center;

        li:not(:last-child) {
            margin-right: 32px;
        }


        a {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #5E6278;
            padding-bottom: 16px;
            position: relative;
            white-space: nowrap;

            &:after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 3px;
                background: transparent;
                border-radius: 4px 4px 0px 0px;
            }

            &:hover:after, &.active:after {
                background: #5375FD;
            }
        }
    }
}

.articles-grid  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 75px;
}

.article-card {
    display: block;
    width: 100%;

}

.article-card-photo  {
    height: 175px;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.article-card-body  {
    .cat {
        display: block;
        font-size: 14px;
        line-height: 140%;
        color: #5375FD;
        margin-bottom: 8px;
    }

    .title {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #0A2540;
        margin-bottom: 8px;
    }

    .descr {
        display: block;
        font-size: 16px;
        line-height: 140%;
        color: #78757E;
    }

    .views {
        margin-top: 16px;
    }
}

.a-count {
    display: flex;
    align-items: center;

    img {
        margin-right: 8px;
    }

    span {
        font-size: 14px;
        line-height: 140%;
        color: #78757E;
    }
}



.article-card-x2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article-card:not(:last-child) {
        margin-bottom: 20px;
    }
}


@media (max-width: $tb2) {
    .articles-grid  {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }

    .tabs-row {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        overflow-x: auto;
        justify-content: flex-start;

        &:after, &:before {
            content: "";
            width: 15px;
            min-width: 15px;
        }
    }

    /* хром, сафари */
    .tabs-row::-webkit-scrollbar { width: 0; height: 0;}

    /* ie 10+ */
    .tabs-row { -ms-overflow-style: none; }

    /* фф (свойство больше не работает, других способов тоже нет)*/
    .tabs-row { overflow: -moz-scrollbars-none; }
}


@media (max-width: $mb) {
    .advice-page {
        padding-top: 15px;
        padding-bottom: 60px;
    }

    .articles-grid  {
        grid-template-columns: 100%;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }

    .article-card-body .title {
        font-size: 16px;
    }

    .article-card-body .descr {
        font-size: 14px;
    }

    .article-card-body .views {
        margin-top: 6px;
    }
}


@media (max-width: 577px) {
    .article-card-photo {
        height: 150px;
    }
}