.has-sidebar {
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-column-gap: 81px;

    &--v2 {
        grid-template-columns: 1fr 380px;
        grid-column-gap: 30px;
    }
}

.advice-single-page {
    padding-top: 24px;
    padding-bottom: 84px;
}

.publications-col-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #0A2540;
    margin-bottom: 34px;
}

.publications-col-list li:not(:last-child) {
    margin-bottom: 20px;
}

.publication-card-mini {
    display: flex;
    align-items: center;


    .publication-card-mini-img {
        width: 100px;
        min-width: 100px;
        height: 100px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 24px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
    }

    .publication-card-mini-text .title {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #0A2540;
        margin-bottom: 20px;
    }
}

.advice-single-page .sidebar  {
    padding-top: 16px;
}


.article-image img {
    margin-left: auto;
    margin-right: auto;
}


.article-info-row {
    display: flex;

    .a-count + .a-count {
        margin-left: 24px;
    }
}



.article  {
    

    .cat {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #5375FD;
        margin-bottom: 24px;
    }

    h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: #0A2540;
        margin-bottom: 32px;
    }

    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #0A2540;
        margin-bottom: 24px;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #78757E;

        & + p {
            margin-top: 15px;
        }

        & + h2 {
            margin-top: 40px;
        }
    }


    & > img {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    

}


.article-image  {
    margin-bottom: 11px;
}

.article-info-row {
    padding-top: 11px;
    padding-bottom: 27px;
}

.article-footer  {
    margin-top: 60px;
    padding-top: 34px;
    border-top: 1px solid #ECECEC;
}

.socials-widget  {
    display: flex;
    align-items: center;

    span {
        display: block;
        margin-right: 16px;
        font-size: 14px;
        line-height: 140%;
        color: #78757E;
    }

    ul {
        display: flex;

        li:not(:last-child) {
            margin-right: 12px;
        }
    }
}


@media (max-width: 1080px) {
    .has-sidebar {
        grid-template-columns: 100%;
        grid-row-gap: 40px;
    }
}


@media (max-width: $mb) {
    .article .cat {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .article h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .article p {
        font-size: 14px;
    }

    .article h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .article-footer {
        margin-top: 30px;
        padding-top: 25px;
    }
}