.companies-list  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.company-card  {
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 12px;
}

.company-card:hover {
    opacity: 1;
    border-color: #CBCBCB;
}

@media (max-width: $tb2) {
    .companies-list  {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: $mb) { 
    .companies-list  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 577px) {
    .companies-list {
        grid-template-columns: 100%;
    }
} 


