.enter-page {
    background-color: #f5ebe1;
}

.sign-in {
    background-image: url('~@/assets/img/sign-in.svg');
    background-position: right 40px bottom 52px;
    background-repeat: no-repeat;
}

.sign-up {
    background-image: url('~@/assets/img/sign-up.svg');
    background-position: right 28px bottom 66px;
    background-repeat: no-repeat;
}

.enter-page-content  {
    padding: 20px 40px 48px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(54, 30, 104, 0.08);
    border-radius: 0px 32px 32px 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 700px;

    .f-prompt {
        margin-top: auto;
    }
}

.enter-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 549px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;



    .btn {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        margin-top: 48px;
    }
}

.sign-in .enter-form {
    transform: translateY(44px);
}

.sign-up .enter-form {
    transform: translateY(70px);
}

.f-prompt {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #78757E;
    text-align: center;

    a {
        color: #5375FD;
    }
}

.enter-form {
    h1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 54px;
        color: #0A2540;
        text-align: center;
        margin-bottom: 60px;
    }
}


@media (max-width: $tb) {
    .enter-page {
        background-color: #fff;
        background-image: none;
    }


    .enter-page-content {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        min-width: 100%;
    }

    .sign-in .enter-form, .sign-up .enter-form {
        transform: none;
    }


    .enter-page-content  {
        min-height: calc(var(--vh, 1vh) * 100);
        height: auto;
    }

}


@media (max-width: $mb) {
    .enter-form {
        max-width: 100%;
    }

    .enter-form h1 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 35px;
    }

    .enter-page-content {
        padding-left: 15px;
        padding-right: 15px;

        .logo {
            margin-bottom: 20px;
        }
    }

    .help-box {
        flex-direction: column;

        .check-block + a {
            margin-top: 15px;
        }
    }

    .check-block label {
        font-size: 14px;
    }

    .i-wrap input, .i-wrap input::placeholder {
        font-size: 14px;
    }

    .i-wrap input {
        height: 45px;
    }

    .f-prompt {
        font-weight: normal;
        font-size: 16px;
    }

    .note {
        padding: 10px 10px;
    }
}
