
.profile-page {
    padding-top: 38px;
    padding-bottom: 120px;
}

.premium-col  {
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(28, 27, 98, 0.04);
    border-radius: 12px;
    background-image: url('~@/assets/img/svg/crown-bg.svg');
    background-position: right 0 bottom 0;
    background-repeat: no-repeat;

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #0A2540;
        margin-bottom: 24px;
    }


    .term {
        span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #78757E;
            margin-bottom: 2px;
        }

        strong {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #0A2540;
        }
    }

    .btn {
        margin-top: 32px;
    }
}

.profile-page .w-box-head .title {
    font-size: 20px;
    line-height: 27px;
}

.profile-page .w-box-body {
    padding-top: 41px;
    padding-bottom: 45px;
}



@media (max-width: $mb) {
    .premium-col {
        padding: 15px;
        background-size: 140px;
    }

    .premium-col .title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .premium-col .term strong {
        font-size: 14px;
        line-height: 22px;
    }

    .profile-page {
        padding-bottom: 60px;
    }

    .profile-page .w-box-body {
        padding-top: 20px;
    }

    .profile-page  .w-box--main {
        margin-bottom: 0;
    }
}