.main-section {
    background-image: url('~@/assets/img/bg.jpg');
    background-position: top 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 105px;
    padding-bottom: 213px;
}

.main-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 65px;

    .title {
        font-weight: 800;
        font-size: 48px;
        line-height: 65px;
        color: #0A2540;
        margin-bottom: 8px;
    }

    span {
        display: block;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #78757E;
    }
}


.search-form {
    padding: 66px 46px 44px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(16, 15, 63, 0.08);
    border-radius: 12px;
}

.search-row  {
    display: grid;
    grid-template-columns: 34.17% 18.56% 1fr 1fr 170px;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    min-height: 56px;

    .input-wrap  {
        height: 100%;
        border-right: 1px solid #CBCBCB;


        &.has-icon input {
            padding-left: 48px;

        }

        input {
            height: 100%;
            width: 100%;
            display: block;
            border: none;
            background: none;

            padding-left: 16px;
            padding-right: 16px;

            &::placeholder {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #7F8B99;
            }
        }
    }
}

.submit-search-form {
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    width: calc(100% + 1px);
    margin-right: -1px;
    height: calc(100% + 2px);
    margin-top: -1px;
    margin-bottom: -1px;
}


.search-row  .n-select {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7F8B99;

    .current {
        display: flex;
        height: 100%;
        align-items: center;

            white-space: nowrap;
            overflow: hidden;
            width: calc(100% - 10px);

    }


}


body .main-section-mob {
    display: none;
    padding-top: 0px;
    padding-bottom: 50px;
}


@media (max-width: 1280px) {
    .search-row {
        grid-template-columns: 32.17% 23.56% 1fr 1fr 145px;
    }

    body .main-section-mob {
        display: block;
    }

}

@media (max-width: $tb) {
     .main-section {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .search-form {
        padding: 60px 15px 40px;
    }



}


@media (max-width: $tb2) {
    .search-row {
        grid-template-columns: 100%
    }

    .search-row .input-wrap {
        height: 50px;

        border-right: none;
        border-bottom: 1px solid #CBCBCB;
    }

    .submit-search-form {
        border-radius: 0 0 10px 10px;
    }

    .input-wrap.has-label label {
        display: none;
    }
    .search-row .input-wrap .nice-select {
        padding-left: 48px;
    }


}


@media (max-width: $mb) {


    .main-section {
        padding-bottom: 50px;
    }
    .main-section-title .title {
        font-size: 30px;
        line-height: 36px;
    }

    .main-section-title span {
        font-size: 16px;
        line-height: 20px;
    }

    .main-section-title {
        margin-bottom: 25px;
    }

    .search-form {
        padding: 15px;
    }

    .search-row .input-wrap.has-icon input, .search-row .input-wrap.has-icon input::placeholder, .search-row .input-wrap .nice-select {
        font-size: 14px;
    }
}


