.responses-page {
    padding-top: 40px;
    padding-bottom: 200px;
}


.message-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(28, 27, 98, 0.04);
    border-radius: 12px;
}

.message-box-head  {
    padding: 22px 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #0A2540;
    }
}

.message-box-foot {
    padding: 32px 24px;
    border-top: 1px solid #ECECEC;
}

.message-item  {
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 24px;
    padding-right: 27px;
    display: flex;
    align-items: center;

    .col-wrap {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .col-ic  {
        width: 28px;
        min-width: 28px;
        margin-right: 35px;
    }

    .col-name  {
        width: 192px;
        min-width: 192px;
        margin-right: 20px;

        strong {
            display: block;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #0A2540;
        }

        .location {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #78757E;
        }
    }

    .col-body   {
        flex: 1;
        margin-right: 20px;

        .title {
            display: flex;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #0A2540;
            align-items: center;

            .lbl {
                margin-left: 10px;
            }
        }

        .exerpt {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #78757E;
            margin-top: 6px;
        }

    }

    .col-date  {
        width: 90px;
        min-width: 90px;
        margin-right: 20px;

        .date, .time {
            font-size: 16px;
            line-height: 22px;
            color: #78757E;
        }
    }

    .col-action  {
        width: 51px;
        min-width: 51px;
        display: flex;
        justify-content: flex-end;
    }

    .col-action .action {
        opacity: 0;
    }

    &.v-actins .col-action .action {
        opacity: 1;
    }

    &:hover {
        background: #F5F8FA;

        .col-action .action {
            opacity: 1;
        }
    }

    &.read {
        .col-ic svg path[fill] {
            fill: #D2D2D2;
        }

        .col-ic svg path[stroke] {
            stroke: #D2D2D2;
        }
    }
}

.action:hover {
    opacity: 1;

    svg path[fill] {
        fill: #5375FD;
    }

    svg path[stroke] {
        stroke: #5375FD;
    }
}

@media (max-width: 1180px) {
    .message-item .col-name {
        width: 140px;
        min-width: 140px;
    }

    .message-item .col-action .action {
        opacity: 1;
    }
}


@media (max-width: $mb) {
    .message-item .col-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .message-item .col-name {
        margin-bottom: 5px;
        width: 100%;
        display: flex;
    }

    .message-item .col-name .location {
        line-height: 26px;
        margin-left: 10px;
    }



    .message-item, .message-box-head, .message-box-foot {
        padding: 15px;
    }

    .message-box-head .title {

        font-size: 20px;
        line-height: 28px;
    }

    .message-item .col-name strong {
        font-size: 16px;
        line-height: 20px;
    }

    .message-item .col-name .location {
        font-size: 13px;
        line-height: 22px;
    }

    .message-item .col-body .title {
        font-size: 16px;
    }

    .message-item .col-body .exerpt {
        font-size: 14px;
    }

    .message-item .col-date .date, .message-item .col-date .time {
        font-size: 14px;
        line-height: 20px;
    }


    .message-item .col-ic {
        width: 20px;
        min-width: 20px;
        margin-right: 10px;
        align-self: flex-start;
        padding-top: 0px;

        svg {
            width: 20px;
        }
    }

    .message-item .col-date {
        width: 80px;
        min-width: 80px;
        margin-right: 10px;
    }

    .message-item {
        align-items: flex-start;
    }

    .message-item .col-action {
        width: 25px;
        min-width: 25px;

        .action {
            padding: 0;
            svg {
                width: 20px;
            }
        }
    }

    .responses-page {
        padding-top: 40px;
        padding-bottom: 80px;
    }
}

@media (max-width: 577px) {
    .message-item .col.col-action {
        display: none;
    }

    .message-item .col-date {
        margin-right: 0;
    }

    .message-item .col-date .date, .message-item .col-date .time {
        font-size: 12px;
        line-height: 16px;
    }

    .message-item .col-date {
        text-align: right;
    }

    .message-item .col-body {
        margin-right: 0;
    }

    .message-item .col-name  {
        margin-bottom: 0;
    }

    .message-item .col-name strong {
        font-size: 14px;
        line-height: 21px;
    }

    .message-item .col-body .title {
        font-size: 14px;
    }

    .message-item .col-body .exerpt {
        font-size: 12px;
        margin-top: 0;
    }

    .message-box {
        width: calc(100% + 10px);
        margin-left: -5px;
        margin-right: -5px;
    }
}
