.subs-page .pt {
    padding-top: 48px;
}

.lk-page-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #0A2540;
    margin-bottom: 24px;
}

.notification {
    position: relative;
    padding: 27px 40px 27px 223px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(28, 27, 98, 0.04);
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    & > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 123px;
        width: 199px;
        background-image: url('~@/assets/img/svg/shape1.svg');
        background-position: left 0 bottom 0;
        background-repeat: no-repeat;
    }

    &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 143px;
        width: 178px;
        background-image: url('~@/assets/img/svg/shape2.svg');
        background-position: right 0 top 0;
        background-repeat: no-repeat;
    }

    .notification-button {
        margin-left: auto;
        padding: 12px 19px;
        font-size: 18px;
    }


    .ic {
        margin-right: 39px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
    }

    .notification-text {
        max-width: 736px;
        width: 100%;

        .title {
            display: block;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #0A2540;
            margin-bottom: 12px;
        }

        p {
            font-size: 16px;
            line-height: 140%;
            color: #78757E;
        }
    }
}


.card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    min-width: 38px;
    height: 38px;
    padding: 5.7px;
    background: rgba(83, 117, 253, 0.05);
    border-radius: 8px;
}

.card-action  + .card-action  {
    margin-left: 12px;
}

.subs-card-actions  {
    display: flex;
}

.subs-card {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(28, 27, 98, 0.04);
    border-radius: 12px;
}

.subs-card-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid #ECECEC;
}

.subs-card-name  {
    .title {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #0A2540;
        margin-bottom: 6px;
    }

    .location {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #78757E;
    }
}

.subs-card-options {
    display: flex;
}

.custom-check-wrap {
    display: flex;
    align-items: center;

    .theme-checker {
        margin: 0;
    }

    label {
        margin-left: 12px;
        display: flex;
        align-items: center;

        img {
            width: 24px;
            min-width: 24px;
        }

        span {
            margin-left: 8px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #78757E;
        }
    }
}

.subs-card-options {
    padding-top: 24px;

    .option + .option {
        margin-left: 40px;
    }
}

.option-group {
    display: flex;
}

.option-group + .option-group {
    margin-left: 80px;
}


.subs-list li:not(:last-child) {
    margin-bottom: 24px;
}

.create-button {
    width: 100%;
    padding: 22.5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #5375FD;
    background: rgba(83, 117, 253, 0.1);
    border-radius: 12px;
    margin-top: 40px;
}

.subs-list-container  {
    padding-bottom: 80px;
}

.bt {
    border-top: 1px solid #E0E0E0;
}


.subs-page .work-section {
    padding-top: 80px;
}


@media (max-width: $tb2) {
    .subs-card-options {
        flex-direction: column;
        align-items: flex-start;

        .option-group + .option-group {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .notification .notification-text {
        margin-right: 20px;
    }

    .notification {
        padding-left: 120px;
    }

    .notification .ic {
        width: 100px;
    }
}

.notification {
    overflow: hidden;
}


@media (max-width: $mb) {
    .subs-card {
        padding: 15px;
    }

    .subs-card-name .title {

        font-size: 18px;
        line-height: 24px;

    }

    .create-button {
        padding: 12.5px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }

    .subs-list-container {
        padding-bottom: 40px;
    }

    .subs-page .work-section {
        padding-top: 30px;
    }

    .option-group {
        flex-direction: column;
    }

    .subs-card-options .option + .option {
        margin-left: 0;
        margin-top: 20px;
    }

    .notification .notification-text .title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }

    .notification .notification-text p {
        font-size: 14px;
    }

    .notification {
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        flex-wrap: wrap;

        .notification-button {
            width: 100%;
            margin-top: 20px;
        }
    }


}

@media (max-width: 577px) {
    .notification .ic {
        display: none;
    }

    .notification  {
        padding-left: 15px;
    }

    .subs-card-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .subs-card-actions {
        margin-top: 20px;
    }
}





.resume-card {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(28, 27, 98, 0.04);
    border-radius: 12px;
}


.resume-card-body-col:nth-child(1) {
    display: flex;
    align-items: center;

    .photo {
        width: 100px;
        height: 100px;
        min-width: 100px;
        margin-right: 24px;

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.resume-card-name {
    .title {
        display: block;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #0A2540;
        margin-bottom: 6px;
    }

    .location {
        display: block;
        font-size: 16px;
        line-height: 22px;
        color: #78757E;
        margin-bottom: 8px;
    }

    .price {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #0A2540;
    }
}

.resume-card-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.resume-card-body-col:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .date {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #78757E;
        text-align: right;
        margin-bottom: 24px;
    }
}

.resume-counts {
    display: flex;
    justify-content: flex-end;

    .count {
        padding: 0 16px;
        border-right: 1px solid #ECECEC;
        width: fit-content;

        strong {
            display: block;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #0A2540;
            text-align: right;
        }

        span {
            display: block;
            font-size: 16px;
            line-height: 22px;
            color: #78757E;
            text-align: right;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}


.resume-filled-progress  {
    max-width: 276px;
    width: 100%;

    span {
        display: block;
        font-size: 16px;
        line-height: 22px;
        color: #0A2540;
        margin-bottom: 12px;
    }
}

.progress-container  {
    width: 100%;
    height: 6px;
    background: #ECECEC;
    border-radius: 39px;

    .progress {
        width: 0;
        background: #5375FD;
        border-radius: 39px;
        height: 100%;
    }
}

.resume-card-moddle  {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ECECEC;
}

.mini-notification {
    padding: 12px 20px 13px 20px;
    background: rgba(83, 117, 253, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;

    img {
        margin-right: 16px;
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #5375FD;

        a {
            font-weight: 600;
            text-decoration-line: underline;
            color: #5375FD;
        }
    }
}


.resume-card-options {
    padding-top: 24px;
    display: flex;
    align-items: center;

    .status {
        font-size: 16px;
        line-height: 22px;
        color: #78757E;
        margin-right: 89px;
    }
}


.resume-actions-group   {
    margin-left: auto;
    display: flex;


    .resume-action:not(:last-child) {
        margin-right: 12px;
    }
}

.params-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    min-width: 45px;
    height: 45px;
    padding: 7px;
    background: rgba(83, 117, 253, 0.05);
    border-radius: 8px;
    position: relative;
}

.params-box {
    position: absolute;
    top: calc(100% + 4px);
    width: 348px;
    padding: 20px;
    left: -65px;
    background: #FFFFFF;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 20px rgba(28, 27, 98, 0.1));
    display: none;
}

.params-button-container {
    position: relative;
    width: fit-content;
}

.b-action {
    display: flex;
    align-items: center;
    padding: 0;

    .card-action {
        margin-right: 16px;
    }

    span {
        font-size: 16px;
        line-height: 22px;
        color: #0A2540;
    }
}

.b-action:not(:last-child) {
    margin-bottom: 12px;
}

.params-box .group {
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}

.params-box .group + .group {
    padding-top: 20px;
}

.params-box .group .check-block:not(:last-child) {
    margin-bottom: 24px;
}


.params-button-container:hover .params-box {
    display: block;
}


.selector-group .option + .option {
    margin-left: 40px;
}

.resume-action {
    font-size: 18px;
}


.resume-list-container {
    padding-bottom: 80px;
}

.resume-list li:not(:last-child) {
    margin-bottom: 24px;
}

@media (max-width: 1420px) {
    .resume-card-options {
        flex-wrap: wrap;

        .resume-actions-group {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

@media (max-width: $tb) {
    .resume-card-moddle {
        flex-direction: column;
        align-items: flex-start;

        .mini-notification {
            margin-top: 20px;
            width: 100%;
        }
    }
}

@media (max-width: $mb) {
    .resume-card-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .resume-card-body-col:last-child {
        margin-top: 20px;
    }

    .resume-card-body-col:last-child .date {
        text-align: left;
    }

    .resume-card-body-col:last-child {
        align-items: flex-start;
    }

    .resume-filled-progress {
        width: 100%;
        max-width: 100%;
    }

    .resume-card {
        padding: 15px;
    }

    .resume-card-options {
        flex-direction: column;
        align-items: flex-start;
    }


    .selector-group .option + .option {
        margin-left: 0;
        margin-top: 20px;
    }

    .resume-card-options .resume-actions-group {
        flex-wrap: wrap;

        button {
            margin-right: 0;
            margin-bottom: 15px;
        }


        .write-message {
            flex: 1;
            margin-right: 0;
        }

        button:last-child {
            width: 100%;
        }
    }


    .resume-action {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mini-notification {
        padding: 5px;
    }

    .mini-notification .text {
        font-size: 14px;
    }


    .resume-card-name .title {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .resume-card-body-col:nth-child(1) .photo {
        width: 70px;
        height: 70px;
        min-width: 70px;
        margin-right: 16px;
    }

    .resume-card-body-col:nth-child(1) {
        align-items: flex-start;
    }

    .resume-counts .count:first-child {
        padding-left: 0;
    }


    .resume-counts .count strong {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }


    .resume-counts .count span {
        display: block;
        font-size: 13px;
        line-height: 18px;
    }


    .params-box {
        width: 290px;
        padding: 15px;
    }


}

@media (max-width: 1400px) {
    .params-box {
        left: 0;
    }
}
