//@import "main.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.right_aligned{
  left: unset;
  right: 0px;
  //width: auto !important;
  width: max-content;
}

.check-block label{
  white-space: nowrap;
}

.cursor-pointer{
  cursor: pointer;
}

.btn.btn-primary{
  line-height: 1.95;

}